<% provide(:title, '') %>
<div class="center hero-unit">
  <h3 >Welcome to Video App</h3>

  <h4>
    This is the App for administer my Films


  </h4>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
