<h1>Film hinzufügen</h1>

<br><br>

<div class="row">
  <%= form_for(@film) do |f| %>
      <%= render 'form', f: f %>
      <br>
      <%= f.submit "Create film", class: "btn btn-large btn-primary" %>
  <% end %>

</div>

<%= back_to_list %>
